body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    background-color: #900C3F;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    margin: 0;
    font-size: 2em;
}

p {
    margin-top: 5px;
    color: #555;
}

section {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.job, .degree {
    margin-bottom: 20px;
}

h3 {
    margin: 5px 0;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
}

#skills li {
    margin-right: 20px;
    background-color: #f4f4f4;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
}

#contact p {
    margin-bottom: 10px;
}

h2 {
    color: #333;
    background-color: #ddd;
    padding: 10px;
    border-radius: 8px;
}

h4 {
    color: #4caf50;
    background-color: #ddd;
    padding: 5px;
    border-radius: 5px;
}
